In [1]:
import pandas as pd

In [2]:
consumer_price_index = pd.read_excel("../shared_data_read_only/consumer_price_index.xlsx")

In [3]:
consumer_price_index

         Date  consumer_price_index
0  2019-01-01                103.01
1  2019-02-01                103.06
2  2019-03-01                103.89
3  2019-04-01                104.22
4  2019-05-01                104.33
5  2019-06-01                104.58
6  2019-07-01                104.38
7  2019-08-01                104.86
8  2019-09-01                104.50
9  2019-10-01                104.46
10 2019-11-01                104.52
11 2019-12-01                104.98
12 2020-01-01                104.54
13 2020-02-01                104.53
14 2020-03-01                104.59
15 2020-04-01                104.56
16 2020-05-01                104.71
17 2020-06-01                104.79
18 2020-07-01                105.19
19 2020-08-01                105.09
20 2020-09-01                104.55
21 2020-10-01                104.51
22 2020-11-01                104.73
23 2020-12-01                104.96
24 2021-01-01                105.12
25 2021-02-01                105.12
26 2021-03-01                105.75
27 2021-04-01                105.86
28 2021-05-01                106.20
29 2021-06-01                106.34
30 2021-07-01                106.40
31 2021-08-01                107.05
32 2021-09-01                106.81
33 2021-10-01                107.25
34 2021-11-01                107.64
35 2021-12-01                107.85
36 2022-01-01                108.12
37 2022-02-01                108.94
38 2022-03-01                110.49
39 2022-04-01                110.97
40 2022-05-01                111.72
41 2022-06-01                112.55
42 2022-07-01                112.87
43 2022-08-01                113.38
44 2022-09-01                112.74
45 2022-10-01                113.90
46 2022-11-01                114.26
47 2022-12-01                114.16
48 2023-01-01                114.60
49 2023-02-01                115.78
50 2023-03-01                116.79
51 2023-04-01                117.50
52 2023-05-01                117.44
53 2023-06-01                117.65
54 2023-07-01                117.71
55 2023-08-01                118.89

In [2]:
business_account = pd.read_excel("shared_data_read_only/Business Account.xlsx")

In [3]:
business_account

,Business Account,Customer Status,Type,Partner type,Class,Class Name,Activity sector,Parent Business Account,Owner Name,Follow-up with,Postal Code,City,State,Country ID,Country Name,Created On,Last Modified On
0,C00001,Active,Customer,Partner,02FONDA,Foundation,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,2.0,NaN,69009,LYON,NaN,FR,France,2021-02-02 15:35:10.183,2023-01-04 15:51:00.977
1,C00002,Active,Customer,NaN,NaN,NaN,NaN,NaN,13.0,NaN,69005,Lyon,NaN,FR,France,2021-02-02 15:35:11.213,2021-03-24 16:25:28.393
2,C00003,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:11.457,2021-02-18 09:58:03.387
3,C00004,Active,Customer,Partner,01SIEGE,Headquarters,"BUSINESS ADMINISTRATION - Consulting, Audit, A...",NaN,12.0,NaN,75008,PARIS,NaN,FR,France,2021-02-02 15:35:11.770,2023-08-03 11:08:03.953
4,C00005,Active,Customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,Non renseigné,NaN,FR,France,2021-02-02 15:35:12.013,2021-02-18 09:58:03.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3478,C19916,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Sports, Infrastructure...",NaN,7.0,NaN,75019,Paris,NaN,FR,France,2023-07-03 17:18:35.647,2023-07-03 17:18:35.647
3479,C19917,Active,Customer,Prospect,01SIEGE,Headquarters,"HEALTH - SOCIAL - Social, Associations, Founda...",NaN,24.0,NaN,69800,Saint Priest,NaN,FR,France,2023-07-04 09:04:13.730,2023-07-24 15:25:42.843
3480,C19918,Prospect,Business Account,Prospect,01SIEGE,Headquarters,"COMMUNICATION - Marketing, Advertising, Commun...",NaN,NaN,NaN,NaN,Montréal - Paris - Toronto,NaN,FR,France,2023-07-04 10:29:57.430,2023-07-04 10:29:57.430
3481,C19986,Prospect,Business Account,Institutional partner,21ETAT,State,SECTEUR PUBLIC - Etat & ses établissements pub...,NaN,17.0,NaN,93008,Bobigny,NaN,FR,France,2023-07-05 15:37:58.080,2023-07-05 15:37:58.080
3482,C19987,Prospect,Business Account,Partner,01SIEGE,Headquarters,"MEDIA - ARTS - SPORTS - Audiovisual, Media, Pu...",NaN,7.0,NaN,75002,PARIS,NaN,FR,France,2023-07-06 12:13:13.703,2023-07-06 12:13:13.703

In [5]:
contacts = pd.read_excel("shared_data_read_only/Contacts.xlsx")

In [6]:
contacts

,ContactID,Active,Business Account,Class,Class Name,Financing preference,Owner,Follow-up with,Postal Code,City,State,Code pays,Country Name,Gender,Client Source,Last Modified On,Created On
0,39405,True,C00091,01BUSIN,Business function,NaN,26.0,NaN,WC1V 6JS,London,NaN,GB,United Kingdom of Great Britain and Northern I...,NaN,NaN,2023-07-11 14:37:02.183,2021-06-03 08:35:32.823
1,41938,True,C06932,03PDG,DG,"Apprenticeship tax, Gala Lyon, But en Or Lyon,...",29.0,NaN,69120,VAULX EN VELIN,NaN,FR,France,NaN,NaN,2023-02-07 12:19:14.043,2022-01-05 16:34:58.807
2,37775,True,C01438,10DIRGENE,General Management,NaN,17.0,8.0,93701,DRANCY,NaN,FR,France,Male,NaN,2021-03-23 07:05:02.557,2021-03-19 06:44:36.557
3,37776,True,C01430,13ELU,Elected,NaN,17.0,8.0,93000,BOBIGNY,NaN,FR,France,Male,NaN,2021-03-23 07:05:03.410,2021-03-19 06:44:37.070
4,36942,True,C01204,13ELU,Elected,NaN,6.0,5.0,69140,RILLIEUX-LA-PAPE,NaN,FR,France,Male,NaN,2021-04-13 10:52:53.050,2021-03-17 16:45:45.083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5506,38255,True,C01453,11DIRTER,Territorial Management,NaN,40.0,NaN,59100,ROUBAIX,NaN,FR,France,Female,NaN,2021-03-19 06:51:37.223,2021-03-19 06:51:37.223
5507,39179,True,C01884,01BUSIN,Business function,"Apprenticeship tax, Annual report",7.0,NaN,75010,PARIS,NaN,FR,France,Female,NaN,2021-05-17 11:23:30.993,2021-05-17 11:23:30.993
5508,40695,True,C03979,20PART,Individual,NaN,NaN,NaN,75010,Paris,NaN,FR,France,NaN,HelloAsso,2021-10-13 10:53:49.693,2021-10-13 10:53:49.693
5509,43323,True,C07697,02COM,Communication,"JDLV Ceremony, Annual report, Greetings",29.0,NaN,75007,PARIS,NaN,FR,France,NaN,NaN,2022-06-03 14:58:41.643,2022-05-09 13:45:01.623
5510,44363,True,C07697,05RH,Human Resources,"Apprenticeship tax, But en Or Paris, Tournamen...",39.0,NaN,NaN,NaN,NaN,FR,France,Female,NaN,2022-10-03 15:21:24.597,2022-10-03 15:19:25.150